.shortcode .shortcode-value {
    display: none;
    padding: 8px 2px;
    text-align: center;
    color: lightseagreen;
    border: 2px dashed lightseagreen;
    cursor: pointer;
    margin-top: 36px;
    margin-bottom: 0;
}

/** Vanilabox */
.vsb-main {
    text-align: right !important;
    width: 100% !important;
}

.vsb-main>button {
    text-align: right !important;
}

.vsb-main>button span.caret {
    right: unset !important;
    left: 8px;
}

.vsb-menu {
    width: 100%;
}

.vsb-menu>ul {
    max-width: 100% !important;
}

.vsb-js-search-zone {
    width: 90% !important;
}


/** Loader Spinner */
.loader-spinner {
    display: none;
    padding: 20px;
    text-align: center;
}

.dashicons.spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}